<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>组件开始</title>
    <script src="../vue.js"></script>
  </head>

  <body>
    <div id="app" :style="{ fontSize: postFontSize + 'em' }">
      //
      <blog-post
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:mes="post"
        @enlarge-text="onEnlargeText"
      ></blog-post>
    </div>

    <div id="app2" :style="{ fontSize: fontSize + 'em' }">
      <blog-post2
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:mes="post"
        :font-size.sync="fontSize"
      ></blog-post2>
    </div>

    <script>
      // 组件
      Vue.component("blog-post", {
        props: ["mes"], // 属性mes接收父组件传递的值
        template: `
        <div class="blog-post">
          <span>{{ mes.title }}</span>
          <button @click="$emit('enlarge-text',0.1,'test')">
            Enlarge text
          </button>
          <span v-html="mes.content"></span>
        </div>
        `,
      });

      Vue.component("blog-post2", {
        props: ["mes"], // 属性mes接收父组件传递的值
        template: `
        <div class="blog-post">
          <span>{{ mes.title }}</span>
          <button @click="updateFontSize">
            Enlarge text
          </button>
          <span v-html="mes.content"></span>
        </div>
        `,
        methods: {
          updateFontSize: function () {
            this.$emit("update:font-size", 4); // "update:fontSize" 会失效
            // v-on 事件监听器在 DOM 模板中会被自动转换为全小写 (因为 HTML 是大小写不敏感的)，所以 v-on:myEvent 将会变成 v-on:myevent——导致 myEvent 不可能被监听到。因此，**推荐始终使用 kebab-case 的事件名**
          },
        },
      });

      var app = new Vue({
        el: "#app",
        data: {
          postFontSize: 1,
          posts: [
            {
              id: 1,
              title: "My journey with Vue",
              content: "<span> ***</span>",
            },
            { id: 2, title: "Blogging with Vue", content: "<span> @@@</span>" },
            { id: 3, title: "Why Vue is so fun", content: "<span> $$$</span>" },
          ],
        },
        methods: {
          onEnlargeText: function (enlargeAmount, other) {
            this.postFontSize += enlargeAmount;
            console.log(other);
          },
        },
      });

      /*
      子组件点击发射 'enlarge-text' 事件，同时传值 0.1
      <button @click="$emit('enlarge-text',0.1)">
        Enlarge text
      </button>

      父组件使用时，监听 enlarge-text 事件，触发 onEnlargeText 方法
      <blog-post
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:mes="post"
        @enlarge-text="onEnlargeText"
      ></blog-post>

*/

      var app2 = new Vue({
        el: "#app2",
        data: {
          fontSize: 2,
          posts: [
            {
              id: 1,
              title: "2 My journey with Vue ",
              content: "<span> 2***</span>",
            },
            {
              id: 2,
              title: "2 Blogging with Vue",
              content: "<span> 2@@@</span>",
            },
            {
              id: 3,
              title: "2 Why Vue is so fun",
              content: "<span> 2$$$</span>",
            },
          ],
        },
        methods: {},
        watch: {
          fontSize: {
            handler: function (newVal, oldVal) {
              console.log(newVal);
            },
          },
        },
      });

      // setTimeout(function () {
      //   app2.$data.fontSize = 3;
      // }, 5000);
    </script>
  </body>
</html>
