<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src ="../vue.js"></script>
</head>
<body>
    <div id="app">
        v-show  不管初始条件是什么，元素总是会被渲染，并且只是简单地基于 CSS 进行切换。
        v-if 有更高的切换开销，而 v-show 有更高的初始渲染开销。因此，
        如果需要非常频繁地切换，则使用 v-show 较好；如果在运行时条件很少改变，则使用 v-if 较好。

        <p v-if="seen">这个段落由v-if</p>
        <p><a v-bind:href="url">百度</a></p>
        <p v-show="isShow">这个段落由v-show控制</p>
    </div>

    <div id="app2">
        <div v-if="type==='A'"> A</div>
        <div v-else-if="type==='B'"> B</div>
        <div v-else-if="type==='C'"> C</div>
        <div v-else > NOT A/B/C</div>
    </div>

<!--
     添加一个具有唯一值的 key 属性,不复用已有元素(如下例中 input不复用)
    <label> 元素仍然会被高效地复用，因为它们没有添加 key 属性。
    -->
    <div id="app3">

        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>
    </div>

<script>
/*
   条件渲染7 v-if v-show v-bind

* */
    var app = new Vue({
        el:"#app",
        data:{
            seen:true,
            url:"http://www.baidu.com",
            isShow:false
        }
    });

    var app2 = new Vue({
        el:"#app2",
        data:{
            type:"A"
        }
    });

    setTimeout(function(){
        app2.type = "B"
    },1000);

    setTimeout(function(){
        app2.type = "C"
    },2000);
    setTimeout(function(){
        app2.type = "D"
    },3000)

    var app3 = new Vue({
        el:"#app3",
        data:{
            loginType:"username"
        }
    });
    setTimeout(function(){
        app3.loginType = "email"
    },5000)
</script>
</body>
</html>