<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>组件开始</title>
    <script src="../vue.js"></script>
  </head>
  <body>
    <div id="app">
      <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post">
      </blog-post>
    </div>
    <hr />
    <div id="app2">
      <blog-post2
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:post="post"
        v-bind:content="post.content"
      ></blog-post2>
    </div>
    <script>
      // 组件1 ----单个根元素 :template 中的h3 和div必须再用元素包裹，只能有一个根元素
      Vue.component("blog-post", {
        props: ["post"],
        template:
          '<div><h3>{{ post.title }}</h3><div v-html=" post.content"></div></div>',
      });

      //组件2
      Vue.component("blog-post2", {
        props: ["post", "content"],
        template:
          '<div><h3>{{ post.title }}</h3><div v-html="content"></div></div>',
      });

      new Vue({
        el: "#app",
        data: {
          posts: [
            {
              id: 1,
              title: "My journey with Vue",
              content: "content1 content1 ",
            },
            {
              id: 2,
              title: "Blogging with Vue",
              content: "content2 content2 ",
            },
            {
              id: 3,
              title: "Why Vue is so fun",
              content: "content3 content3 ",
            },
          ],
        },
      });

      new Vue({
        el: "#app2",
        data: {
          posts: [
            {
              id: 1,
              title: "My journey with Vue",
              content: "content1 content1 ",
            },
            {
              id: 2,
              title: "Blogging with Vue",
              content: "content2 content2 ",
            },
            {
              id: 3,
              title: "Why Vue is so fun",
              content: "content3 content3 ",
            },
          ],
        },
      });
    </script>
  </body>
</html>
