<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>组件开始</title>
    <script src="../vue.js"></script>
  </head>
  <body>
    <div id="app">
      <custom-input v-model="searchText"></custom-input>
      <p>searchText:{{searchText}}</p>
      <hr>
      <custom-input2 v-model="searchText2"></custom-input2>
      <p>searchText:{{searchText2}}</p>
    </div>

    <script>
      // 组件中使用 v-model
      // 组件内的 <input> 必须：
      // 1.将其 value 特性绑定到一个名叫 value 的 prop 上
      // 2.在其 input 事件被触发时，将新的值通过自定义的 input 事件抛出

      Vue.component("custom-input", {
        props: ["value"],
        template: `<div>
                        <input v-bind:value="value" v-on:input="$emit('input', $event.target.value)"><br>
                        子组件值：<span>{{ value }}</span>
                    </div>`,
      });

      Vue.component("custom-input2", {
        props: ["value"],
        template: `<div>
                        <input v-bind:value="value" ><br>
                        子组件值：<span>{{ value }}</span>
                    </div>`,
      });

      var app = new Vue({
        el: "#app",
        data: {
          searchText: "",
          searchText2: "",
        },
      });
    </script>
  </body>
</html>
