<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src ="../vue.js"></script>
</head>
<body>
<div id="app-3">
    <p v-if="seen">现在你看到我了</p>
</div>


<div id="app-4">
    <ul>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ul>
</div>
<script>
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    });
    setTimeout(()=>{
        //app3.seen = false;
        app3.$data.seen = false; //和上句等价
    },2000);

    var app4 = new Vue({
        el:"#app-4",
        data:{
            todos:[{text:"qq1",age:22},{text:"qq2",age:23}]
        }
    })
</script>
</body>
</html>